{{> head }}
{{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1>Sobre esta pagina...</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae nemo ipsum distinctio dignissimos aut commodi ab laudantium, optio ratione unde. Amet nisi debitis accusantium sequi? At repellat reprehenderit laboriosam numquam!</p>
        </div>
        
        <div class="col-4">
            <img src="assets/img/Header.jpg" class="img-thumbnail">
        </div>
    </div>


{{> footer }}